<div class="<%= node_counter.odd? ? 'bg-gray-50' : 'bg-gray-100' %> px-4 py-4 grid grid-cols-1 gap-2 md:grid md:grid-cols-6 md:gap-4 md:px-6">
  <%= tag.dt id: dom_id(node.criterium), class: "grid grid-cols-1 #{@assessment.drafted? && action_name == 'edit' ? 'md:col-span-3' : 'md:col-span-6'} " do %>
    <div class="sm:block">
      <!-- First Column -->
      <span class="w-full font-bold">
        <%= node.title %>
      </span>
      <!-- Second Column -->
      <span class="text-sm text-gray-500 italic">
        <% if node.criterion.present? %>
          (<%= render_scores(node.score, node.criterium.children.maximum(:score)) %>)
        <% else %>
          (chưa đánh giá)
        <% end %>
      </span>
      <!-- Third Column -->
      <% if @assessment.drafted? && action_name == 'edit' %>
        <p class="w-full text-sm text-gray-500 mt-2 md:mt-0">
          <%= node.description %>
        </p>
      <% else %>
        <p class="w-full text-sm text-gray-500 py-2 md:mt-0">
          <%= node.criterion&.title %>
        </p>
      <% end %>
    </div>
    <%= turbo_frame_tag node, src: score_evidences_path(node), loading: 'lazy', class: 'mt-2' %>
  <% end %>
  <% if @assessment.drafted? && action_name == 'edit' %>
    <dd class="text-sm leading-6 text-gray-700 sm:col-span-3 sm:mt-0">
      <fieldset>
        <legend class="sr-only"><%= node.title %></legend>
        <div class="-space-y-px rounded-md bg-white">
          <%= render partial: 'score_form', collection: node.criterium.children, as: :criterium, locals: { sub: node } %>
        </div>
      </fieldset>
    </dd>
  <% end %>
</div>
