<div class="mx-auto w-full rounded-lg shadow bg-gray-50">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-2 "> <!-- Updated to two columns -->
    <% [3, 4, 5].each do |rank| %>
      <div class="bg-gray-900 rounded-md px-4 py-2">
        <div class="flex justify-between">
          <span class="text-sm leading-6 text-gray-400"><%= render_ranks rank %></span>
          <span class="text-md font-semibold tracking-tight text-white "><%= @assessment.pass_rank?(rank) ? '✅' : '❌' %></span>
        </div>
        <ol class="mt-2 grid grid-cols-1 gap-y-1">
          <% @assessment.rank_requires(rank).each do |item| %>
            <li class="text-sm leading-6 text-gray-300 grid grid-cols-4">
              <div class="col-span-3 flex gap-x-1">
                <p><%= item[:check] ? '✅' : '❌' %></p>
                <p><%= item[:title] %> </p>
              </div>
              <span class="text-right"><%= item[:score] || 0 %> / <%= item[:min_score] %></span>
            </li>
          <% end %>
        </ol>
      </div>
    <% end %>
  </div>
</div>
