<div id="<%= dom_id criterium %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= criterium.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Year:</strong>
    <%= criterium.year %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Level:</strong>
    <%= criterium.level %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Score:</strong>
    <%= criterium.score %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Leaf:</strong>
    <%= criterium.leaf %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this criterium", criterium, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this criterium", edit_criterium_path(criterium), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
