<%= turbo_stream_from @submission %>
<div class="mx-auto w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%= t(:evaluate_submission) %></h1>
    <%= link_to t(:show_this_submission), company_submission_path(@submission.company, @submission), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <table class="table-auto">
    <thead>
      <tr>
        <th class="px-4 py-2"><%= Score.human_attribute_name(:criterion) %></th>
        <th class="px-4 py-2"><%= Score.human_attribute_name(:score) %></th>
        <th class="px-4 py-2"><%= Score.human_attribute_name(:edit) %></th>
      </tr>
    </thead>
    <tbody>
      <% @submission.scores.node_roots.each do |root| %>
        <%= render partial: 'score_fields', locals: {score: root, level: 0} %>
        <% root.children.each do |group| %>
          <%= render partial: 'score_fields', locals: {score: group, level: 1} %>
          <% group.children.each do |sub| %>
            <%= render partial: 'score_fields', locals: {score: sub, submission: @submission, level: 2} %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
