<div class="mx-auto w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl"><%= t(:evaluate_submission) %></h1>
    <%= link_to t(:show_this_submission), company_submission_path(@submission.company, @submission), class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <table class="table-auto">
    <thead>
      <tr>
        <th class="px-4 py-2"><%= Score.human_attribute_name(:criterion) %></th>
        <th class="px-4 py-2"><%= Score.human_attribute_name(:score) %></th>
        <th class="px-4 py-2"><%= Score.human_attribute_name(:edit) %></th>
      </tr>
    </thead>
    <tbody>
      <% @submission.scores.node_roots.each do |root| %>
        <tr>
          <td class="border px-4 py-2 font-bold"><%= root.title %></td>
          <td class="border px-4 py-2"><%= root.score %></td>
          <td class="border px-4 py-2"></td>
        </tr>
        <% root.children.each do |group| %>
          <tr>
            <td class="border px-8 py-2 font-semibold"><%= group.title %></td>
            <td class="border px-4 py-2"><%= group.score %></td>
            <td class="border px-4 py-2"></td>
          </tr>
          <% group.children.each do |sub| %>
            <tr class='bg-green-50'>
              <td class="border px-16 py-2">
                <p><%= sub.title %></p>
                <p class='italic text-gray-500 text-sm <%= 'hidden' if sub.description.blank? %>'>
                  <%= sub.description %>
                </p>
              </td>
              <td class="border px-4 py-2"><%= sub.score %></td>
              <td class="border px-4 py-2"><%= link_to "Edit", edit_submission_score_path(@submission, sub.id), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium hover:underline hover:bg-blue-300 " %></td>
            </tr>
            <% sub.criterium.children.each do |criterion| %>
              <tr>
                <td class="border px-24 py-2 <%= 'text-green-500 font-semibold' if sub.criterion_id == criterion.id %>"><%= criterion.title %></td>
                <td class="border px-4 py-2"><%= 'Y' if sub.criterion_id == criterion.id %></td>
                <td class="border px-4 py-2"></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
