<div id="<%= dom_id prompt %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= prompt.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= prompt.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Prompt image:</strong>
    <%= prompt.prompt_image %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Account:</strong>
    <%= prompt.account_id %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this prompt", prompt, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this prompt", edit_prompt_path(prompt), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
