<%= form_with model: [assessment], url: final_assessment_path(assessment), class: "contents" do |form| %>
  <div class="space-y-12 sm:space-y-16">
    <div>
      <h2 class="text-base font-semibold leading-7 text-gray-900"><%= t('.submit_final_assessment') %></h2>
      <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-600"><%= t('.guide') %></p>
      <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">
        <div class="sm:grid sm:grid-cols-4 sm:items-start sm:gap-4 sm:py-6">
          <%= form.label :name, class: "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5" %>
          <div class="mt-2 sm:col-span-3 sm:mt-0">
            <%= form.text_field :name,
                                autocomplete: "given-name",
                                disabled: true,
                                class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
          </div>
        </div>
        <div class="sm:grid sm:grid-cols-4 sm:items-start sm:gap-4 sm:py-6">
          <%= form.label :scores_sum, class: "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5" %>
          <div class="mt-2 sm:col-span-3 sm:mt-0">
            <%= form.text_field :scores_sum,
                                autocomplete: "given-name",
                                disabled: true,
                                class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
          </div>
        </div>
        <div class="sm:grid sm:grid-cols-4 sm:items-start sm:gap-4 sm:py-6">
          <%= form.label :star, class: "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5" %>
          <div class="mt-2 sm:col-span-3 sm:mt-0">
            <%= tag.span class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6 px-2 flex" do %>
              <%= render_ranks assessment.max_rank %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-6 flex items-center justify-center gap-x-6">
    <%= form.submit t('.submit_final_assessment'), class: "inline-flex justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 cursor-pointer" %>
  </div>
<% end %>
