<%= tag.tr id: dom_id(company_owner) do %>
  <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
    <div class="flex items-center">
      <div>
        <div class="font-medium text-indigo-500"><%= company_owner.name %></div>
        <div class="mt-1 text-gray-500 flex"><%= company_owner.phone %></div>
      </div>
    </div>
  </td>
  <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
    <div class="text-gray-900 flex"><%= company_owner.job_title %></div>
  </td>
  <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
    <%= company_owner.email %>
  </td>
  <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
    <%= company_owner.address %>
  </td>
  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
    <div class="flex gap-x-1 justify-between">
      <%= link_to company_owner_path(@company, company_owner), class: "text-indigo-600 hover:text-indigo-900", data: { turbo_frame: '_top' } do %>
        <%= t(:show_this_company_owner) %><span class="sr-only">, <%= company_owner.name %></span>
      <% end %>
      <%= link_to edit_company_owner_path(@company, company_owner), class: "text-indigo-600 hover:text-indigo-900", data: { turbo_frame: '_top' } do %>
        <%= t(:edit_this_company_owner) %><span class="sr-only">, <%= company_owner.name %></span>
      <% end %>
    </div>
  </td>
<% end %>
