<div id="<%= dom_id(evidence) %>">
  <dl>
    <div class="relative" data-controller="slider" data-slider-index-value="0">
      <!--Carousel indicators-->
      <div class="absolute bottom-0 left-0 right-0 z-[2] mx-[15%] mb-4 flex list-none justify-center p-0">
        <% evidence.photos.each_with_index do |photo, idx| %>
          <%= tag.div class: "mx-[3px] box-content h-[3px] w-[30px] flex-initial cursor-pointer border-0 border-y-[10px] border-solid border-transparent bg-white bg-clip-padding p-0 -indent-[999px] opacity-50 transition-opacity duration-[600ms] ease-[cubic-bezier(0.25,0.1,0.25,1.0)] motion-reduce:transition-none",
                      data: {
                        action: "click->slider#slideTo",
                        'slider-target': 'dot',
                        'slider-index-param': idx
                      } %>
        <% end %>
      </div>
      <!--Carousel items-->
      <div class="relative w-full overflow-hidden after:clear-both after:block after:content-[''] bg-slate-800">
        <% evidence.photos.each_with_index do |photo, idx| %>
          <div class="relative float-left -mr-[100%] w-full transition-transform duration-[600ms] ease-in-out motion-reduce:transition-none"
                    style="backface-visibility: hidden">
            <%= image_tag photo.variant(:thumb_fixed_height),
                          class: "block mx-auto",
                          data: {
                            action: "click->slider#toggleFullScreen",
                            'slider-target': "slide"
                          } %>
          </div>
        <% end %>
      </div>
    </div>
    <% if evidence.files.present? %>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0 flex flex-col">
          <% evidence.files.each do |file| %>
            <div class="">
              <%= file.filename %>
            </div>
          <% end %>
        </dd>
      </div>
    <% end %>
    <% if evidence.story.present? %>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dd class="mt-1 text-sm leading-6 text-gray-500 sm:col-span-2 sm:mt-0"><%= evidence.story %></dd>
      </div>
    <% end %>
    <div class="px-4 py-6 flex justify-center">
      <%= link_to edit_score_evidence_path([@score, evidence]), class: "block inline-flex items-center gap-x-1.5 rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500" do %>
        <%= render 'shared/icons/add_button' %>
        <%= t(:add_score_story) %>
      <% end %>
    </div>
  </dl>
</div>
