<div id="<%= dom_id(evidence) %>" class="relative w-full">
  <div class="relative" data-controller="lightbox">
    <% evidence.files.each do |file| %>
      <% if file.representable? %>
        <%= tag.a href: file.representation(:large).processed.url, data: { download_url: url_for(file) } do %>
          <div class="inline-block mr-2 w-32 h-32 overflow-hidden">
            <%= image_tag file.representation(:thumb), class: "w-full h-full object-cover", alt: file.filename %>
          </div>
        <% end %>
      <% else %>
        <%= image_tag "placeholder.png", alt: "Download file" %>
      <% end %>
    <% end %>
  </div>
</div>
<% if can? :edit, evidence %>
  <div class="absolute bottom-0 right-0 px-4 py-6 flex">
    <%= link_to edit_score_evidence_path([@score, evidence]), class: "block inline-flex items-center gap-x-1.5 rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500" do %>
      <%= render 'shared/icons/add_button' %>
      <%= t(:add_score_story) %>
    <% end %>
  </div>
<% end %>
