<% @page_title = post.title %>
<% content_for :page_header do %>
  <%= Post.model_name.human %>
<% end %>
<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <%= render 'post', post: @post %>
    <hr class="mt-4">
    <div class="flex gap-x-4">
      <%= link_to t(:edit_this_post), edit_cms_admin_post_path(@post), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= button_to t(:destroy_this_post), cms_admin_post_path(@post), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
      <%= link_to t(:back_to_posts), cms_admin_posts_path, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    </div>
  </div>
</div>
