<%= render 'submissions/tabs' %>
<div class="mt-8">
  <% accepted_files = %w[application/pdf image/jpeg image/jpg image/png image/gif] %>
  <%= form_with model: [@register_form], url: forms_register_submission_path(@submission), data: { turbo: false } do |form| %>
    <% if @register_form.errors.any? %>
      <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
        <h2><%= pluralize(@register_form.errors.count, "error") %> prohibited this submission from being saved:</h2>
        <ul>
          <% @register_form.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="space-y-12 sm:space-y-16">
      <div>
        <h2 class="text-base font-semibold leading-7 text-gray-900">Phiếu đăng ký tham gia chương trình OCOP</h2>
        <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-600">Vui lòng điền các thông tin bên dưới</p>
        <div class="mt-10 space-y-8 border-b border-gray-900/10 pb-12 sm:space-y-0 sm:divide-y sm:divide-gray-900/10 sm:border-t sm:pb-0">
          <div class="sm:grid sm:grid-cols-4 sm:items-start sm:gap-4 sm:py-6">
            <%= form.label :product_name, class: "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5" %>
            <div class="mt-2 sm:col-span-3 sm:mt-0">
              <%= form.text_field :product_name, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
            </div>
          </div>
          <div class="sm:grid sm:grid-cols-4 sm:items-start sm:gap-4 sm:py-6">
            <%= form.label :company_name, class: "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5" %>
            <div class="mt-2 sm:col-span-3 sm:mt-0">
              <%= form.text_field :company_name,
                                autocomplete: "given-name",
                                class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
            </div>
          </div>
          <div class="sm:grid sm:grid-cols-4 sm:items-start sm:gap-4 sm:py-6">
            <%= form.label :owner_name, class: "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5" %>
            <div class="mt-2 sm:col-span-3 sm:mt-0">
              <%= form.text_field :owner_name, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
            </div>
          </div>
          <div class="sm:grid sm:grid-cols-4 sm:items-start sm:gap-4 sm:py-6">
            <%= form.label :owner_address, class: "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5" %>
            <div class="mt-2 sm:col-span-3 sm:mt-0">
              <%= form.text_field :owner_address, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
            </div>
          </div>
          <div class="sm:grid sm:grid-cols-4 sm:items-start sm:gap-4 sm:py-6">
            <%= form.label :owner_email, class: "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5" %>
            <div class="mt-2 sm:col-span-3 sm:mt-0">
              <%= form.text_field :owner_email, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
            </div>
          </div>
          <div class="sm:grid sm:grid-cols-4 sm:items-start sm:gap-4 sm:py-6">
            <%= form.label :owner_phone, class: "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5" %>
            <div class="mt-2 sm:col-span-3 sm:mt-0">
              <%= form.text_field :owner_phone, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
            </div>
          </div>
          <div class="sm:grid sm:grid-cols-4 sm:items-start sm:gap-4 sm:py-6">
            <%= form.label :owner_job_title, class: "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5" %>
            <div class="mt-2 sm:col-span-3 sm:mt-0">
              <%= form.text_field :owner_job_title, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
            </div>
          </div>
          <div class="sm:grid sm:grid-cols-4 sm:items-start sm:gap-4 sm:py-6">
            <%= form.label :sample_quantities, class: "block text-sm font-medium leading-6 text-gray-900 sm:pt-1.5" %>
            <div class="mt-2 sm:col-span-3 sm:mt-0">
              <%= form.number_field :sample_quantities, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6" %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-6 flex items-center justify-center gap-x-6">
      <%= form.submit 'In phiếu đăng ký', class: "inline-flex justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 cursor-pointer" %>
    </div>
  <% end %>
</div>
