<%= form_with(model: [submission], class: "contents") do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>
      <ul>
        <% submission.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :product_group %>
    <%= form.select :status, Submission.product_groups.keys.map { |group| [t("activerecord.attributes.submission.product_groups.#{group}"), group] }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :status %>
    <%= form.select :status, Submission.statuses.keys.map { |status| [t("activerecord.attributes.submission.statuses.#{status}"), status] }, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <%= form.label :photos %>
    <%= dropzone_controller_div do %>
      <%= form.file_field :photos,
                          multiple: true,
                          direct_upload: true,
                          class: 'w-full',
                          data: {
                            dropzone_target: "input"
                          } %>
      <%= tag.ul  class: 'grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8',
                  role: "list",
                  data: {
                    controller: "sortable",
                    sortable_url_value: move_image_submission_path(submission)
                  } do %>
        <% submission.photos.each do |photo| %>
          <li class="relative ">
            <%= form.hidden_field :photos, multiple: true, value: photo.signed_id %>
            <%= label_tag "photos_to_remove_#{photo.id}", class: "cursor-pointer group w-full flex flex-col gap-y-2" do %>
              <div class="aspect-h-7 aspect-w-10 block overflow-hidden rounded-lg ">
                <%= image_tag(photo.variant(:thumb), class: "object-cover") %>
              </div>
              <div class="mx-auto">
                <%= check_box_tag 'submission[photos_to_remove][]', photo.id, false, id: "photos_to_remove_#{photo.id}" %>
                <span class="ml-1">Xoá</span>
              </div>
            <% end %>
          </li>
        <% end %>
      <% end %>
      <div class="mt-4 p-4 border border-dashed border-gray-300 text-gray-600 text-center">
        <h3 class="text-lg font-semibold">Drag here to upload or click here to browse</h3>
        <span class="text-sm">2 MB file size maximum. Allowed file types png, jpg.</span>
      </div>
    <% end %>
  </div>
  <div class="my-5">
    <%= form.label :description %>
    <%= form.rich_text_area :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="inline">
    <%= form.submit t(submission.new_record? ? :create_submission : :edit_submission), class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
