<div id="<%= dom_id submission %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= Submission.human_attribute_name(:name) %>:</strong>
    <%= submission.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= Submission.human_attribute_name(:scores_sum) %>:</strong>
    <%= submission.scores_sum %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= Submission.human_attribute_name(:product_group) %>:</strong>
    <%= t("activerecord.attributes.submission.product_groups.#{submission.product_group}") %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= Submission.human_attribute_name(:status) %>:</strong>
    <%= t("activerecord.attributes.submission.statuses.#{submission.status}") %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= Submission.human_attribute_name(:description) %>:</strong>
    <%= submission.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= Submission.human_attribute_name(:photos) %>:</strong>
    <% submission.photos.each do |photo| %>
      <div class="w-32 h-32 overflow-hidden">
        <%= image_tag photo.variant(:thumb), class: "w-full h-full object-cover" %>
      </div>
    <% end %>
  </p>
  <% if action_name != "show" %>
    <%= link_to t(:show_this_submission), [submission], class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to t(:edit_this_submission), edit_submission_path(submission), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
