<div id="<%= dom_id(submission) %>" class="overflow-hidden w-full bg-white shadow sm:rounded-lg mb-4">
  <div class="px-4 py-6 sm:px-6">
    <h3 class="text-base font-semibold leading-7 text-gray-900"><%= submission.name %></h3>
    <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500"><%= render_ranks(submission.star) %></p>
  </div>
  <div class="border-t border-gray-100">
    <% if submission.account != Current.account %>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-900"><%= Account.human_attribute_name(:name) %></dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= t("activerecord.attributes.submission.statuses.#{submission.account.name}") %></dd>
      </div>
    <% end %>
    <dl class="divide-y divide-gray-100">
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-900"><%= Submission.human_attribute_name(:status) %></dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= status_tag submission.status, t("activerecord.attributes.submission.statuses.#{submission.status}") %></dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-900"><%= Submission.human_attribute_name(:star) %></dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= t("activerecord.attributes.submission.stars.#{submission.star}") %></dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-900"><%= Submission.human_attribute_name(:scores_sum) %></dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0 flex flex-nowrap"><%= submission.scores_sum || 0 %></dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-900"><%= Submission.human_attribute_name(:council) %></dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= submission.council.name %></dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-900"><%= Submission.human_attribute_name(:criteria_group) %></dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= submission.criteria_group.name %></dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-900">Điểm tự đánh giá</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= render_ranks(submission.self_assessment.star) %> / <%= submission.self_assessment.scores_sum %> điểm</dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 <%= 'hidden' if submission.files.blank? %>">
        <dt class="text-sm font-medium leading-6 text-gray-900"><%= Submission.human_attribute_name(:files) %></dt>
        <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
          <div data-controller="lightbox">
            <% submission.files.each do |file| %>
              <% if file.representable? %>
                <%= tag.a href: file.representation(:large).processed.url, data: { download_url: url_for(file) } do %>
                  <div class="inline-block mr-2 w-32 h-32 overflow-hidden">
                    <%= image_tag file.representation(:thumb), class: "w-full h-full object-cover", alt: file.filename %>
                  </div>
                <% end %>
              <% else %>
                <%= image_tag "placeholder.png", alt: "Download file" %>
              <% end %>
            <% end %>
          </div>
        </dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-900"><%= Submission.human_attribute_name(:description) %></dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= submission.description %></dd>
      </div>
    </dl>
  </div>
  <div class="px-4 py-5 sm:px-6">
    <% if submission.active? %>
      <%= link_to edit_assessment_path(submission.self_assessment), class: "relative inline-flex items-center gap-x-1.5 rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500",
                                                                    data: {
                                                                      turbo_frame: '_top'
                                                                    } do %>
        <%= render 'shared/icons/add_button' %>
        <%= t(:do_assessment) %>
      <% end %>
    <% end %>
    <%= link_to t(:edit_submission), edit_submission_path(submission),
                class: "rounded-lg px-3 py-2 bg-gray-100 inline-block font-medium",
                data: {
                  turbo_frame: '_top'
                } %>
    <% if submission.drafted? %>
      <%= link_to t(:destroy_this_submission), submission_path(submission), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                                                                            class: "rounded-lg px-3 py-2 bg-red-100 font-medium" %>
    <% end %>
  </div>
</div>
