<% @submissions.each do |submission| %>
  <%= turbo_stream_from submission %>
<% end %>
<% content_for :page_header do%>
  <%= t(:list_submissions) %>
<% end %>
<% content_for :quick_action do %>
  <%= link_to new_submission_path, class: 'flex items-center rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500' do %>
    <%= render 'shared/icons/add_button' %>
    <span><%= t(:create_submission) %></span>
  <% end %>
<%end %>
<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
  <div id="submissions" class="min-w-full">
    <%= render partial: 'submission_list_item', collection: @submissions, as: :submission %>
  </div>
</div>
