<div id="<%= dom_id company %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= Company.human_attribute_name(:name) %>:</strong>
    <%= company.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= Company.human_attribute_name(:description) %>:</strong>
    <%= company.description %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= Company.human_attribute_name(:registration_no) %>:</strong>
    <%= company.registration_no %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= Company.human_attribute_name(:registration_date) %>:</strong>
    <%= company.registration_date %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= Company.human_attribute_name(:legal_type) %>:</strong>
    <%= t("activerecord.attributes.company.legal_types.#{company.legal_type}") %>
  </p>
  <% if action_name != "show" %>
    <%= link_to t(:show_this_company), company, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to t(:edit_this_company), edit_company_path(company), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
