<%= turbo_frame_tag :company do %>
  <%= tag.div id: dom_id(company), class: "overflow-hidden w-full bg-white shadow sm:rounded-lg mb-4" do %>
    <div class="px-4 py-6 sm:px-6">
      <h3 class="text-base font-semibold leading-7 text-gray-900"><%= company.name %></h3>
    </div>
    <div class="border-t border-gray-100">
      <dl class="divide-y divide-gray-100">
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-900"><%= Company.human_attribute_name(:registration_name) %></dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= company.registration_name %></dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-900"><%= Company.human_attribute_name(:registration_no) %></dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= company.registration_no %></dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
          <dt class="text-sm font-medium text-gray-900"><%= Company.human_attribute_name(:registration_date) %></dt>
          <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= l company.registration_date, format: :long if company.registration_date.present? %></dd>
        </div>
      </dl>
    </div>
  <% end %>
<% end %>
