<% @page_title = t(:approve_self_assessment) %>
<%= turbo_stream_from @assessment %>
<%= render 'tabs' %>
<ul class="flex flex-col space-y-8 divide-dashed divide-y-2 mt-4 md:mb-56">
  <%= render partial: 'node_roots', collection: @assessment.scores.node_roots, as: :node %>
</ul>
<footer class="md:fixed md:inset-x-0 md:bottom-0 bg-gray-200 md:px-12 py-2 md:py-4 border-t-2 border-gray-100">
  <% if @assessment.can_approve? %>
    <div class="container mx-auto flex justify-center items-center mb-2">
      <%= button_to approve_assistant_submission_assessment_path(@submission, @assessment), class: "relative inline-flex items-center gap-x-1.5 rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500" do %>
        <%= render 'shared/icons/submit_button' %>
        <%= t(:approve_assessment) %>
      <% end %>
    </div>
  <% end %>
  <%= render 'summary' %>
</footer>
