<%= turbo_stream_from @submission %>
<div class="mx-auto ">
  <div class="mx-auto w-full">
    <%= render 'submissions/tabs' %>
    <div class="mx-auto w-full">
      <%= turbo_frame_tag @submission, class: 'mx-auto w-full' do %>
        <%= render partial: 'submission', locals: { submission: @submission } %>
      <% end %>
    </div>
    <div class="mx-auto w-full">
      <%= turbo_frame_tag @submission, class: 'mx-auto w-full', src: final_submission_assessments_path(@submission) %>
    </div>
  </div>
</div>
