<div>
  <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700 mt-4">
    <div class="flex items-center gap-x-4 text-xs">
      <%= tag.time datatime: l(post.updated_at, format: :short) do %>
        <%= l post.updated_at, format: :short %>
      <% end %>
      <%= link_to post.category.title, post_path(post), class: 'relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100' %>
    </div>
    <h1 class="mt-2 mb-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl text-justify"><%= post.title %></h1>
    <div class="relative h-full xl:ml-0">
      <%= image_tag cover_photo(post.files, [720, nil]), class: 'h-full w-full rounded-2xl bg-gray-50 object-cover' %>
    </div>
    <div class="mt-8 text-justify">
      <%= post.body %>
    </div>
    <div class="mt-16">
      <% if post.source.present? %>
        <p class="text-sm leading-6 text-gray-500 italic text-right">(<%= t(:source, default: 'Nguồn') %>: <%= post.source %>)</p>
      <% end %>
    </div>
  </div>
</div>
