<div class="<%= node_counter.odd? ? 'bg-gray-50' : 'bg-gray-100' %> px-4 py-4 sm:grid sm:grid-cols-6 sm:gap-4 sm:px-6">
  <dt class="grid grid-cols-1 sm:col-span-3">
    <div class="flex-shrink-0 flex flex-wrap md:block">
      <!-- First Column -->
      <span class="w-4/5 md:w-full font-bold">
        <%= node.title %>
      </span>
      <!-- Third Column -->
      <p class="w-full text-sm text-gray-500 mt-2 md:mt-0">
        <%= node.description %>
      </p>
    </div>
    <%= turbo_frame_tag node, src: score_evidences_path(node), loading: 'lazy', class: 'mt-2'%>
  </dt>
  <dd class="text-sm leading-6 text-gray-700 sm:col-span-3 sm:mt-0">
    <fieldset>
      <legend class="sr-only"><%= node.title %></legend>
      <div class="-space-y-px rounded-md bg-white">
        <div class="inline-block min-w-full py-2 align-middle">
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6 lg:pl-8"><%= Person.human_attribute_name(:name) %></th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= Assessment.human_attribute_name(:scores_sum) %></th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
              <% @assessments.each do |assessment| %>
                <tr>
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6 lg:pl-8"><%= assessment.judge.name %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                    <%= judge_selected_for(node.criterium_id, assessment)&.score %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </fieldset>
  </dd>
</div>
