<article class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80">
  <%= image_tag cover_photo(post.files), class: 'absolute inset-0 -z-10 h-full w-full object-cover' %>
  <div class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"></div>
  <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
  <div class="flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-gray-300">
    <%= tag.time datatime: l(post.updated_at, format: :short), class: 'mr-8' do %>
      <%= l post.updated_at, format: :short %>
    <% end %>
  </div>
  <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
    <%= link_to post_path(post), data: { turbo_frame: :_top } do %>
      <span class="absolute inset-0"></span>
      <%= post.title %>
    <% end %>
  </h3>
</article>
