<%= tag.tr product do %>
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
    <div class="flex items-center">
      <div class="h-11 w-11 flex-shrink-0">
        <%= image_tag cover_photo(product.files, [248, 248]), class: 'h-11 w-11 rounded-lg' %>
      </div>
      <div class="ml-4">
        <div class="font-medium text-indigo-500"><%= link_to product.title, cms_admin_product_path(product) %></div>
        <div class="mt-1 text-gray-500 flex"><%= render_ranks product.stars %></div>
      </div>
    </div>
  </td>
  <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
    <div class="text-gray-900 flex"><%= product.company.name %></div>
  </td>
  <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
    <div class="text-gray-900 flex"><%= product.category.title %></div>
  </td>
  <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
    <%= status_tag(product.status, t("activerecord.attributes.product.statuses.#{product.status}")) %>
  </td>
  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
    <div class="flex gap-x-1 justify-between">
      <%= link_to cms_admin_product_path(product), class: "text-indigo-600 hover:text-indigo-900" do %>
        <%= t(:show_this_product) %><span class="sr-only">, <%= product.title %></span>
      <% end %>
      <%= link_to edit_cms_admin_product_path(product), class: "text-indigo-600 hover:text-indigo-900" do %>
        <%= t(:edit_this_product) %><span class="sr-only">, <%= product.title %></span>
      <% end %>
    </div>
  </td>
<% end %>
