<% content_for :page_header do%>
  <%= t(:list_submissions) %>
<% end %>
<div class="w-full">
  <%= turbo_frame_tag 'submissions' do %>
    <% @submissions.each do |submission| %>
      <%= turbo_stream_from submission %>
    <% end %>
    <div class="min-w-full">
      <%= render partial: 'submission_list_item', collection: @submissions, as: :submission %>
      <%= render 'empty_list' if @submissions.blank? %>
    </div>
  <% end %>
</div>
