<article id="<%= dom_id product %>" class="relative isolate flex flex-col gap-8 lg:flex-row">
  <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
    <%= image_tag cover_photo(product.files), class: 'absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover' %>
    <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
  </div>
  <div>
    <div class="flex items-center gap-x-4 text-xs">
      <%= tag.time datatime: l(product.updated_at, format: :short) do %>
        <%= l product.updated_at, format: :short %>
      <% end %>
      <%= link_to product.category.title, product_path(product), class: 'relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100' %>
    </div>
    <div class="group relative max-w-xl">
      <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
        <%= link_to product_path(product) do %>
          <span class="absolute inset-0"></span>
          <%= product.title %>
        <% end %>
      </h3>
      <p class="mt-5 text-sm leading-6 text-gray-600"><%= product.excerpt %></p>
    </div>
  </div>
</article>
