<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <title>OCOP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", 'data-turbo-track': "reload" %>
    <%= stylesheet_link_tag "application", 'data-turbo-track': "reload" %>
    <%= javascript_importmap_tags %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= yield :head %>
  </head>
  <body class="h-full">
    <div class="min-h-full">
      <%= render partial: "shared/navigation"  %>
      <main class="-mt-32">
        <div class="mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8">
          <div class="rounded-lg bg-white px-5 py-6 shadow sm:px-6">
            <!-- Your content -->
            <%= yield %>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
