<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>OCOP</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", 'data-turbo-track': "reload" %>
    <%= stylesheet_link_tag "application", 'data-turbo-track': "reload" %>
    <%= javascript_importmap_tags %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= yield :head %>
  </head>
  <body class="h-full">
    <main>
      <div class="px-4 sm:px-6 lg:px-8">
        <!-- Your content -->
        <%= yield %>
      </div>
    </main>
  </body>
</html>
